@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    block-size: 40px;
    inline-size: 40px;
    border: 4px solid rgb(0 0 0 / 0.25);
    border-block-start-color: #000 ;
    border-radius: 50%;
    animation: spin 1.5s ease infinite;
}