#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  block-size: 100dvh;
  font-family: Sansation, sans-serif;
  font-weight: normal;
  font-size: 12px;
  background-color: var(--bg-color);
}

.footer {
  background-color: var(--footer-bg-color);
  inline-size: 100%;
  block-size: 40px;
}