@import url(./fonts/fonts.css);
@import url(./variables.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
table,
td,
tr,
th,
input,
li,
ul,
ol {
  margin: 0;
  padding: 0;
}

input,
button,
select,
option {
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}