:root {
    --white: #eee;
    --blue: #2a2781;
    --orange: #e86630;

    --bg-color: var(--white);
    --header-bg-color: var(--blue);
    --footer-bg-color: var(--blue);
    --main-font-color: var(--white);
    --table-options-bg-color: var(--orange);
    --td-border-color: #00000055;
    --select-bg-color: var(--blue);
    --modal-bg: var(--white);
    --modal-border-color: var(--orange);
    --user-info-item-bg: var(--blue);
}